:root {
    --blanco: #ffffff;
    --osciro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}
/* Ajustar tamaño de pixeles a rem */
html {
    font-size: 62.5%;
}
body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
}
/* Ajustar tamaño de pixeles a rem */

.titulo {
    text-align: center;
    font-size: 3.8rem;

}
.titulo span {
    font-size: 2rem;
}

.contenedor {
    width: 120rem;
    /*
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    */
/* 0=arriba, auto=derecha, 0=abajo, auto=izquieda
si se repiten 2 valores, solo se ponen 2 en vez de 4*/
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);

}

.navegacion-principal {
}

.navegacion-principal a {
    background-color: var(--primario);
}